* {
    padding: 0;
    border: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

html {
    background-color: #003d5b;
}


body {
    width: 100%;
}
.header {
    width: 100%;
    background-color: #d1495b;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;

}

ul {
    display: flex;
    margin-right: 100px;
    
}

a {
    text-decoration: none;
    margin: 5px;
    cursor: pointer;
    background-color: aliceblue;
    border-radius: 25px;
    padding:5px 15px 5px 15px;
    margin-right: 25px;

}
a:hover {
    background-color: #30638e;
    color: #fff;
}
h1 {
    height: auto;
    margin-left: 80px;
    color: white;
}
.cards {

    width: 100%;
    height: 300px;  
    display: flex;
    
    justify-content: space-around;
    align-items: center;
}
.card {
    background-color: #edae49;
    width: 250px;
    height: 250px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding: 10px;
    vertical-align: middle;
    display: flex;
}
.card-text{
    color: black;
}

.news {
    background-color: #00798c;
    height: 1000px;
    width: 100%;
}
.title {
    height: 100px;
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
    text-align: center;
    align-self: center;

}

h3 {
    display: flex;
    text-align: center;
    align-items: flex-end;
    vertical-align: baseline;
    justify-content: center;
    margin: 50px;
}

#about{
    margin: 50px;
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.about {
    height: 1000px;
    width: 100%;
    color: white;   
    display: inline-block;
    align-items: center;
    justify-content: space-between;
}
#contact{
    padding: 50px;
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.contact {
    height: 1000px;
    background-color: #edae49;
    width: 100%;
    color: white;   
}
footer {
    height: 400px;
    background-color: #343434;
}
.pink{
    background-color: #d1495b;
    width: 100px;
    height: 100px;
    margin: 20px;
}
/* Span nao da pra alterar nem altura nem largura */
span {
    background-color: #d1495b;
    width: 1000px;
    height: 1000px;
}
strong {
    background-color: #d1495b;
    width: 1000px;
    height: 1000px;
}
/* como posicionar objetos na tela */

